<!doctype html>
<html ng-app>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <script src="js/app.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <h1>Materials Order</h1>

        <form>
          <div class="product">
            <label>Standard box</label>
            <button class="plus-minus" type="button" name="button" ng-click="standardBox = standardBox + 1">+</button>
            <input type="number" ng-model="standardBox" min="0">
            <button class="plus-minus" type="button" name="button" ng-click="standardBox = standardBox - 1" ng-init="standardBox=0">-</button>
          </div>

          <div class="product">
            <label>Archive box</label>
            <button class="plus-minus" type="button" name="button" ng-click="archiveBox = archiveBox + 1" ng-init="archiveBox=0">+</button>
            <input type="number" ng-model="archiveBox" min="0">
            <button class="plus-minus" type="button" name="button" ng-click="archiveBox = archiveBox - 1" ng-init="archiveBox=0">-</button>
          </div>

          <div class="product">
            <label>Packing tape</label>
            <button class="plus-minus" type="button" name="button" ng-click="packingTape = packingTape + 1" ng-init="packingTape=0">+</button>
            <input type="number" ng-model="packingTape" min="0">
            <button class="plus-minus" type="button" name="button" ng-click="packingTape = packingTape - 1" ng-init="packingTape=0">-</button>
          </div>

          <div class="button-block">
            <button type="submit" name="submit" class="button">Submit</button>
            <button type="button" name="button" class="button" ng-click="reloadRoute()">Reset</button>
          </div>

        </form>

    </div>
    <div class="order">
      <p>Your order:<br>
         Standard boxes: {{standardBox}}<br>
         Archive boxes: {{archiveBox}}<br>
         Packing tape: {{packingTape}}
      </p>
    </div>
  </body>
</html>
