body {
  font-family: 'Rubik', sans-serif;
  color: #696969;
}

.container {
  position: absolute;
  left: 40px;
  top: 40px;
  border: solid black 1px;
  padding: 20px;
  background-color: #d3d3d3;
}

label {
  display: inline-block;
  width: 140px;
  text-align: right;
  padding-right: 20px;
}

input {
  height: 30px;
  max-width: 40px;
  box-sizing: border-box;
  border: solid grey 2px;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: grey;
}

input:focus {
    outline-color: #70B7A2;
}

.product {
  display: block;
  padding: 20px;
}

.plus-minus {
  width: 30px;
  height: 30px;
  background-color: #BD87BB;
  color: white;
  border: solid grey 2px;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.button-block {
  display: block;
  padding-top: 20px;
  position: relative;
  left: 170px;
}

.button {
  width: 60px;
  height: 30px;
  color: #696969;
  border: none;
  box-sizing: border-box;
  background-color: #F5B1B7;
  border: solid #696969 2px;
}

button:hover {
  background-color: #70B7A2;
}

button:focus {
    outline-color: #70B7A2;
}

.order {
  position: absolute;
  bottom: 100px;
  left: 40px
}
